html { background:#000; }
body { width:480px; margin:50px; padding:0; color:#fff; font:normal 1.5em/150% FreeSans,Helvetica,sans-serif; }

#add-secret input { float:left; width:380px; height:30px; padding:10px; font-size:24px; border:none;}
#add-secret button { width:80px; height:50px; padding:10px; font-size:24px; background:#ccc; border:none; cursor:pointer; }
#add-secret button:hover { background:#aaa; }

li span { cursor:pointer; opacity:.3; }
li span:hover { opacity:1; }
